* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(61, 60, 60);
}

.choose-quiz {
  transform: translate(-50%, -50%);
  background-color: #333;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 6px;
}

@media (max-width: 767px) {
  .choose-quiz {
    width: 90%;
  }
}

.choose-quiz h1 {
  color: white;
  text-align: center;
}

.choose-quiz .quizzes {
  display: flex;
  justify-content: space-evenly;
}

.choose-quiz .quizzes a {
  display: block;
}

.choose-quiz .quizzes a img {
  width: 10rem;
}

@media (max-width: 767px) {
  .choose-quiz .quizzes a img {
    width: 8rem;
  }
}
